{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CellSegPro</title>
    <link rel="stylesheet" href=" {%static 'main/css/main.css' %}">
</head>
<header class="header">
    <img src="media/img/genes 2.png" width="64px" height="64px">
    <h2>CellSegPro</h2>
</header>
<body>
    <p class="info">CellSegPro - Ваш надежный гид в мире сегментации клеток.
        Наш сайт предоставляет удобный и мощный инструментарий
        для профессионалов и исследователей в области биологии
        и медицины. Мы предлагаем инновационные методики и
        программное обеспечение для точной сегментации клеток,
        обработки изображений и анализа данных. Доверьте свои
        исследования нам - CellSegPro поможет вам в ваших открытиях
        на пути к новым медицинским и научным открытиям.</p>
    <form class='form' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ form.as_p }}</div>
        <button class="upload" type="submit">Загрузить</button>
    </form>


    <ul>
        <div class="result"><h3>Полученный результат:</h3>
        {% for file in files %}
            <li><button><a class='download' href="{% url 'download_file' file.id %}">Скачать</a></button></li>
            </div>
            <img class='image' src="{% url 'download_file' file.id %}" alt="Не то разрешение фото">
        {% empty %}
            <li>No files uploaded yet.</li>
        {% endfor %}
    </ul>
</body>
</html>